body{
	color: white;
	background-image: url(Frogotopya/image/potok.png);
	background-repeat: repeat;
	font-family: sans-serif;
	margin: 0%;
}

aside {
	text-align: center;
	color: whitesmoke;
	background: #383242;
	padding: 20px 20px 20px 20px;
	margin-left: 45px;
}
aside.left {
	float: left;
}
aside.right {
	float: right;
}
aside ul {
	position: relative;
	right: 10%;
	text-align: left;
	list-style-type: none;
}
aside li {
	background: #3fab43;
	padding: 5px;
	margin: 5px 0px 0px 0px;
	border-radius: 4px;
}

footer{
	background: gray;
	padding: 50px 30px;
}

form {
	text-align: center;
	background: #6b5391;
	padding: 10px;
	margin: 20% 40%;
}

header{
	background: black;
	padding: 7px 0px 5px 470px;
}

section {	
	padding: 20px;
	margin: 30px 20% 10px 25%;
	background: #6b5391;
}

a {
	text-decoration-line: none;
	color: white;
}
 a.menu{
 	color: #2d0447;
 }

img.logo{
	width: 60px;
	background: lightcyan;
	border-radius: 100%;
	padding: 5px;
	margin: 10px;
	float: left;
}
